.scroll-container {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(193, 166, 219); */
  margin-bottom: 50px;

}

.section-right {
  /* background-color: aquamarine; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.section-right p{
  text-align: center;
  font-weight: 500;
  font-size: large;
  margin-bottom: 30px;
  padding: 20px;
}

.vid {
  margin-top: 20px;
  height: 700px;
  width: 70%;
  object-fit: cover;
  
  /* overflow: hidden; */
  /* position: absolute; */
}

.videoGif{
  border-radius: 10px;
  border: solid #D9D9D9 1px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  width: 90%;
}

.section-left {
  width: 50%;
  height: 100vh;
  /* background-color: rgb(86, 86, 247); */
}

.left-text-1 {
  color: black;
  font-size: 5em;
  text-align: center;
  line-height: 1.3em;
  padding: 60px;

}

.left-text-2 {
  font-size: 8em;
  text-align: center;
  line-height: 1.3em;
  padding: 0px;
  margin-top: -100px;
  background: linear-gradient(to right, rgb(244, 88, 132), rgb(140, 93, 242));
  background-size: 100% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* --------------------------------------------------------------- */
.philosophie {
  height: auto;
  position: relative;
  display: flex;
}

.philosophie .point {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  /* overflow: scroll */
  /* padding: 1rem; */
}

.philosophie .wrapper {
  height: 100vh;
  width: 100%;
}

.point article {
  flex-basis: 50%;
  padding: 3rem;
  margin-right: auto;
}

.point img {
  max-width: 90%;
  border-radius: 5px;
  border: solid #D9D9D9 1px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  /* flex-basis: 40%; */
  /* height: auto; */
}

.img_ {
  flex-basis: 50%;
  max-width: 50vw;
}

.point h1 {
  font-size: 3rem;
}

.vh {
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  font-weight: bold;
}

.tabs {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

}

.tabs a {
  color: black;
  font-size: 1rem;
  cursor: pointer;
  padding: 20px;
  margin: 0px;
  z-index: 1;
  text-decoration: none;
}

.spacer {
  width: 100vw;
  height: 10rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.spacer::after {
  content: "👇Below is another example (inspired by Balance)👇";
  font-size: 3rem;
  font-weight: 700;
  padding: 0;
}

/* __vv__MEDIA QUERIES__vv__*/

/*_____MOBILE DEVICE_____*/
@media screen and (width < 767px) {
  .scroll-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  .vid {
    display: none;

  }

  .section-right {

    width: 90%;
  }

  .left-text-1 {
    color: black;
    font-size: 4em;
    text-align: left;
    /* line-height: 1.3em; */
    padding: 0;
    
  
  }

  .left-text-2 {
   
    width: 100vw;
    margin-top: 0;
    margin: 0;
    
  }

  .section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    /* background-color: rgb(86, 86, 247); */
  }
  .philosophie {
    height: 420vh;
    flex-direction: column;
  }
  .philosophie .point {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
  }
  .point h1 {
    font-size: 4.5rem;
    text-align: center;
    color: rgb(84, 84, 84);
  }

}

/*_____TABLET DEVICE_____*/
@media screen and (width > 767px) and (width < 1023px) {}

/*_____DESKTOP DEVICE_____*/
@media screen and (width > 1900px) {}

/* __^^__MEDIA QUERIES__^^__*/