.landing-body {}

/* .merge-logo{
    width: 50%;
    display: grid;
    place-items: center;

}
.merge-logo img{
    width: 65%;
    
    margin-right: -50px;
    height: 88vh;
}

.register{
    width: 50%;
    height: 88vh;
    display: grid;
    place-items: center;
    margin-left: -70px;

}
.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 75%;
    background-color: rgba(234, 237, 237, 0.387);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 1px black ;
    backdrop-filter: blur(8px);

}

.pre-register{
    text-align: center;
   
    font-size: 3em;
    background-color: black;
    background-image: linear-gradient(45deg, #fd7acb, #8100a9);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.register-container h2{
    text-align: center; 
}

.register-text{
    width: 90%;
    margin-top: -30px;
    margin-bottom: 20px;
} */

.hero {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    margin-top: 100px;

}

/*TEXT*/
.text-container {
    width: 50%;
    margin-left: -25px;


}

.text-container h1 {
    font-size: 7vw;
    text-align: start;
    margin: 50px;
    margin-top: 10px;

    margin-bottom: 40px;
}

.provides {
    color: rgb(76, 76, 76);
    font-size: medium;
    font-weight: 500;
    margin-left: 50px;
    animation-name: appear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate;

}

.provides span {
    margin-right: 5px;
    font-size: x-large;
}

.email-enter {
    margin-top: 25px;
    width: 100%;
    animation-name: appear;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-delay: .1s;

}

/*^^TEXT^^*/

/*IMAGE*/
.hero-img {
    width: 50%;
    height: 80vh;
    display: grid;
    place-content: center;


}

.hero-img img {
    width: 800px;
    margin-left: -12%;
    border-radius: 12px;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.5);

}

/*^^IMAGE^^*/

/*vv USER JOURNEY vv*/
.body-1 {
    width: 100vw;
    height: 250vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    position: absolute;
  
}

.path {

    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

}

.path img {
    height: 70%;
    width: auto;
}

/*vv emoji-1 vv*/
.emoji-1{
    position: absolute;
    z-index: 10;
    margin-top: -10px;
    margin-left: -830px;
}
.emoji-1 h2{
    position: absolute;
    z-index: 11;
}
/*^^ emoji-1 ^^*/

/*vv emoji-2 vv*/
.emoji-2{
    position: absolute;
    z-index: 10;
    margin-top: 400px;
    margin-right: -550px;
}

.emoji-2 h2{
    position: absolute;
    z-index: 11;
}

.emoji-2 .blob{
    animation-delay: 3s;
    background: linear-gradient(
        180deg,
        rgba(255, 95, 47, 0.42) 31%,
        #f1615c 100%
    );
    box-shadow: inset 0 0 50px 0px rgb(91, 93, 249);
}
/*^^ emoji-2 ^^*/

/*vv emoji-3 vv*/
.emoji-3{
    position: absolute;
    z-index: 10;
    margin-top: 850px;
    margin-left: -880px;
}

.emoji-3 h2{
    position: absolute;
    z-index: 11;
}

.emoji-3 .blob{
    animation-delay: 1s;
    background: linear-gradient(
        180deg,
        rgba(71, 47, 255, 0.42) 31%,
        #5cabf1 100%
    );
    box-shadow: inset 0 0 50px 0px rgb(249, 91, 91);
}
/*^^ emoji-3 ^^*/

/*vv emoji-4 vv*/
.body-1 .emoji-4{
    position: absolute;
    z-index: 10;
    margin-top: 1200px;
    margin-right: -520px;
}

.emoji-4 h2{
    position: absolute;
    z-index: 11;
}

.emoji-4 .blob{
    animation-delay: 3s;
    background: linear-gradient(
        180deg,
        rgba(238, 47, 255, 0.42) 31%,
        #f15cce 100%
    );
    box-shadow: inset 0 0 50px 0px rgb(91, 99, 249);
}
/*^^ emoji-4 ^^*/

.blob{
    position: absolute;
    z-index: 9;
    margin-top: 120px;
    margin-left: -60px;
    width: 250px;
    height: 250px;
    background: linear-gradient(
        180deg,
        rgba(255, 115, 0, 0.42) 31%,
        #f1c25c 100%
    );
    opacity: 50%;
    mix-blend-mode: color-dodge;
    animation: blob-animation 4s linear infinite alternate;
    animation-delay: 0;
    box-shadow: inset 0 0 50px 0px rgb(220, 91, 249);
}

@keyframes blob-animation {
    from{
        transform: translateX(0px) rotate(50deg);
        border-radius: 25% 75% 35% 65% / 25% 35% 65% 75%;
        filter: blur(25px);
    }
    to{
        transform: translateX(30px) rotate(0deg) ;
        border-radius: 75% 25% 35% 65% / 65% 55% 45% 35%;
        filter: blur(25px);
    }    
}

.body-1 h2{
    font-size: 10em;
}
/*^^USER JOURNEY^^*/

.logo-carousel {}

@keyframes appear {
    0% {
        margin-top: -50%;
        opacity: 0;
    }


    100% {
        margin-top: 0%;
        opacity: 1;
    }
}