:root {
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: 8rem;
}


.top-of-carousel {
    width: 100vw;
    font-size: 2vw;
    font-weight: 700;
    display: grid;
    place-content: center;

}

.top-of-carousel h4 {
    margin-block-start: .5em;
    margin-block-end: .5em;
}

hr.solid {
    border-top: 8px solid rgb(219, 219, 219);
    border-radius: 5px;
    width: 50%;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
   

}

.carousel-container {

    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  
    

}

.carousel-container .logo-box {
    flex-shrink: 0;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 40s linear infinite;
}

.carousel-container .logos {
    width: 150px;
    height: 150px;
    display: grid;
    place-content: center;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}