.scroll-section-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.left-scroll-section-text{
    background-color: lightgray;
    width: 50%;
    min-height: 100px;
    
    
}
.left-scroll-section-text div {
	position: relative;
	top: 50%;
	/* transform: translateY(-50%); */
}
.right-scroll-section-img{
    background-color: lightsalmon;
    width: 50%;
    min-height: 100px;


}

.right-scroll-section-img img{
    width: 80%;    
 
}

/*--------------------------------------------------------------------------------------*/

.philosophie {
    position: relative;
  }
  
  /* .indicators {
    left: 2rem;
    top: 0;
    margin: 10vh 0;
    height: 80vh;
    width: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
  }
  
  .indicator {
    width: 100%;
    background-color: #adadad;
    flex-grow: 1;
    margin: 2px 0;
  } */
  
  .philosophie .point {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 4rem;
    outline: 1px solid red
  }
  
  .philosophie .wrapper {
    height: 100vh;
    width: 100%;
  }
  
  .point article {
    flex-basis: 60%;
    margin-right: auto;
  }
  
  .point img {
    flex-basis: 25%;
    max-width: 25vw;
    height: auto;
  }
  .vh {
    height: 100vh;
    background-color: rgba(255,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    font-weight: bold;
  }