nav{
    top: 0;
    position: sticky;
    top: 0;
}
.box{

}
.tab {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    z-index: 10;
   

}

.tab a, h3 {
    color: rgb(58, 58, 58);
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    padding: 20px;
    margin: 0px;
    z-index: 1;
    text-decoration: none;
}
.tab a:hover {
    color: rgba(0, 0, 0, 0.995);
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.50);
}

.wrapper-a {
    width: 100vw;
    max-height: 450vh;
    overflow: hidden;
    
}
.content-container{
    display: flex;
    flex-direction: row;

}
.left-section{
    width: 50%;
    
}
.right-section{
    width: 50%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* overflow-y: hidden; */
    /* min-height: 100%; */
    /* transform: translate(0px, 0px)!important; */
  
    
}
.imgs{
    position: absolute;
    height:fit-content;
    width: 80%;
    margin-top: 100px;
    z-index: 11;
    
}
.imgs:nth-child(2){
  z-index: 8;
}
.imgs:nth-child(3){
    z-index: 7;
}
.imgs:nth-child(4){
    z-index: 6;
}
.sections_{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(245, 2, 2); */
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
.sections_ h2{
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    padding: 100px;
    padding-bottom: 20px;
    margin: 0;
}
.sections_ p{
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    padding: 100px;
    padding-top: 0;
    margin: 0;
}


/* .sections_:nth-child(2){
    background-color: rgb(255, 0, 212);
}
.sections_:nth-child(3){
    background-color: rgb(0, 255, 34);
}
.sections_:nth-child(4){
    background-color: rgb(72, 0, 255);
} */
