/*HEADER VARIABLES*/
header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    /*vvv PREVENTS OTHER ELEMENTS FROM BEING ON TOP vvv*/
    z-index: 10;
}
/*^^HEADER VARIABLES^^*/

/*LEFT SIDE OF HEADER*/
.left-side-logo {
    height: 100px;
    width: 33.3%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.left-side-logo h3{
    font-size: 3vw;
    display: grid;
    place-content: center;
    margin-left: 10px; 
}
.left-side-logo img{
    height: 80px;
    margin-top: 10px;
    align-items: center;
    margin-left: 45px;   
}
/*^^LEFT SIDE OF HEADER^^*/

/*MIDDLE OF HEADER*/
.middle {
    height: 100px;
    width: 33.3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}
.middle a {
    font-size: 1.2vw;
    
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 15px;  
    line-height: 1;
}
/*^^MIDDLE OF HEADER^^*/

/*RIGHT SIDE OF HEADER*/
.right-side {
    height: 100px;
    width: 33.3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;    
}

button{
    color: white;
    font-size: small;
    border-radius: 12px;
    border: none;
    font-weight: 500;
    margin-right: 25px;
    width: 100px;
    height: 35px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

button:hover{
    background-color: rgb(207, 207, 207);
}

.sign-up{
    background-color: rgb(0, 0, 0);

}

.register{
    background-color: rgb(255, 255, 255);
    color: black;

}
/*__vv__MOBILE MENU__vv__*/
.hamburger-menu{
    margin-right: 45px;
    display: none;    
}



/*^^RIGHT SIDE OF HEADER^^*/

/* __vv__MEDIA QUERIES__vv__*/

/*_____MOBILE DEVICE_____*/
@media screen and (width < 767px) {
    .middle{
        display: none;
    }
   .register{
    display: none;
   }
   .sign-up{
    display: none;
   }
   .hamburger-menu{
    display: flex;
   }
   /* WHEN ~HIDDEN~ THAT ID TAKES OVER STYLING FOR THAT CLASS */
    #hidden {
    position: absolute;
    left: 0px;
    top: 100px;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: rgb(248, 248, 248);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 3px  rgba(0, 0, 0, 0.463);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation-name: menu-animation;
    animation-duration: 400ms;
    transition-timing-function: ease;
    animation-iteration-count: 1;
  }
 

  .left-side-logo h3{
    font-size: 2em;
}
  /* ~a~ IS THE ~LINK~ IN THE MIDDLE CLASS*/
   #hidden a {
    margin: 3px;
    width: 95%;
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
  }
 

}

/*_____TABLET DEVICE_____*/
@media screen and (width > 767px) and (width < 1023px) {}

/*_____DESKTOP DEVICE_____*/
@media screen and (width > 1900px) {}

/* __^^__MEDIA QUERIES__^^__*/

@keyframes menu-animation {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }


    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}