li {
    list-style-type: none;
    text-align: start;
    margin-bottom: 10px;
}

ul {
    padding-inline-start: 0;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80vh;
    background-color: #d7d7d76c;
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 0px 0px 25px -15px black;
}

.upper-container {
    display: flex;
    justify-content: center;
    gap: 5%;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    
}

.foot-sections {

    width: 200px;
    height: 200px;
    background-color: aqua;
}

.foot-section-1 {
    padding: 30px;
}

.foot-section-1 h3 {
    text-align: start;
    line-height: 50px;
    color: rgb(75, 75, 75);
}

.foot-section-1 img {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: start;
    
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    margin-top: 30px;
    color: rgb(75, 75, 75);
}

.foot-section-2 {
    width: 10%;
    padding: 20px;
    margin-top: 10px;
}

.foot-section-2 h4 {
    text-align: start;
}

.foot-section-2 li{
    margin-bottom: 30px;
}

.lower-container{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    gap: 50px;
    color: rgb(75, 75, 75);
    
}

