.App {
  /* background: linear-gradient(-45deg,  #fcfbed, #fde8e8, #e5f1ff, #ece5fc);
  background-size: 200% 200%;
  animation: gradient 4s ease infinite; */
  /* height: 200%; */
  width: 100vw;
  overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



