:root{
  --color-space: #2D3142;
  --color-coral: #4F5D75;
  --color-silver: #BFC0C0;
  --color-orange: #EF8354;
  --color-dark-liver: #534D56;
  --color-purple: #6f26d6;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  /* overflow-x: hidden; */
  /* background-color: #e3f6f5; */
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* font-family: 'Rubik', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
